.form {
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form label {
  font-size: 16px;
  color: #ccc;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form input,
.form select,
.form textarea {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #1b2330;
  color: #fff;
  font-size: 16px;
}

.form input::placeholder {
  color: #888;
}

.form button {
  background: #18bdc9;
  color: #111;
  padding: 14px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background: #ff00ff;
  color: #fff;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  color: #999;
}

.login-link a {
  color: #00f0ff;
  text-decoration: none;
}

.login-link a:hover {
  color: #ff00ff;
}

.error-message {
  color: #ff3333;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.error input {
  border: 1px solid #ff3333;
}
