@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nv {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #222;
    padding: 20px;
    padding-right: 1rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    z-index: 999;
  }

  .nv.active {
    display: flex;
  }

  .nv a {
    margin: 10px 0;
    margin-left: 0;
    text-align: center;
    width: 100%;
  }

  .bt-login {
    margin-left: 0;
    justify-content: center;
  }
}